<ion-content>
  <app-menu></app-menu>
  <div class="container">
<div>
  <button class="startButton" (click)="start()">COMENZAR PARTIDA</button>

</div>
    <div class="board">
      <div id="yellow" [class.yellow]="!yellow" [class.active-yellow]="yellow" class="triangle" (click)="pushButton('yellow')">
      </div>

      <div id="red" [class.red]="!red" [class.active-red]="red" class="triangle" (click)="pushButton('red')"></div>

      <div id="blue" [class.blue]="!blue" [class.active-blue]="blue" class="triangle" (click)="pushButton('blue')"></div>

      <div id="green" [class.green]="!green" [class.active-green]="green" class="triangle" (click)="pushButton('green')"></div>


      <button (click)="gameStart()" class="s_circle">COMENZAR</button>

    </div>
  </div>
</ion-content>
