<ion-grid>
  <ion-row>
    <ion-col><ion-button routerLink="/colores" class="menu-btn">Colores </ion-button></ion-col>
    <ion-col><ion-button routerLink="/memo" class="menu-btn">Memo </ion-button></ion-col>
    <ion-col><ion-button routerLink="/numeros" class="menu-btn">Números </ion-button></ion-col>
    <ion-col><ion-button routerLink="/primos" class="menu-btn">Primos </ion-button></ion-col>
    <ion-col><ion-button routerLink="/simon" class="menu-btn">Simon </ion-button></ion-col>
  </ion-row>
</ion-grid>
