<ion-content>
  <app-menu></app-menu>


  <ion-grid>
    <ion-row>
      <ion-col><ion-button id="rojo" (click)="playSound('Rojo')"></ion-button></ion-col>
      <ion-col><ion-button id="verde" (click)="playSound('Verde')"></ion-button></ion-col>
      <ion-col><ion-button id="amarillo" (click)="playSound('Amarillo')"></ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button id="azul" (click)="playSound('Azul')"></ion-button></ion-col>
      <ion-col><ion-button id="blanco" (click)="playSound('Blanco')" class="btn-white"></ion-button></ion-col>
      <ion-col><ion-button id="marron" (click)="playSound('Marron')"></ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button id="naranja" (click)="playSound('Naranja')"></ion-button></ion-col>
      <ion-col><ion-button id="negro" (click)="playSound('Negro')"></ion-button></ion-col>
      <ion-col><ion-button id="rosa" (click)="playSound('Rosa')"></ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button id="morado" (click)="playSound('Morado')"></ion-button></ion-col>
      <ion-col><ion-button id="turquesa" (click)="playSound('Turquesa')"></ion-button></ion-col>
      <ion-col><ion-button id="gris" (click)="playSound('Gris')"></ion-button></ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
